$green: rgba(45, 175, 77, 0.63);
$shadow: rgba(61, 94, 69, 0.63);
$textGreen: rgba(20, 37, 24, 0.63);
$error:  rgba(85, 148, 26, 0.63);

@mixin arrow {
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    margin: 6px 13px 0 0;
    display: inline-block;
    float: right;
    width: 0;
  }
.container {
    font-family: "Helvetica";
    padding-top: 40px;
    background-color: rgba(145, 169, 177, 0.09);
}
.table{
    box-shadow: -2px 2px 10px 2px $shadow;

    .quantity {
        border-radius: 50px;
        display: inline-block;
        width: 30px;
        text-align: center;
        color: white;
        float: right;
        background-color: rgba(65, 80, 87, 0.63);
    }
    .arrowName,
    .arrowPrice {

        &_top {
        @include arrow;
        border-bottom: 14px solid $green;
        }

        &_down {
        @include arrow;
        border-top: 14px solid $green;
        }

        &_none {
        @include arrow;
        border-bottom: 12px solid lightgray;
        }
    }
}
.overlay-add {
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    
  
    .popup-add {
      transform: translate(-50%, -50%);
      padding: 15px;
      box-sizing: border-box;
      background-color: white;
      color: $textGreen;
      border: 2px solid $textGreen;
      border-radius: 10px;
      box-shadow: -2px 2px 10px 2px $shadow;
      position: absolute;
      width: 500px;
      height: 580px;
      left: 50%;
      top: 50%;
      
  
      h3 {
        text-align: center;
        color: rgba(45, 79, 97, 0.95);
      }
  
      label {
        margin-left: 15px;
      }
  
      .group-forms {
        display: flex;
        flex-direction: row;
      }
  
      .address-box {
        border: 1px solid #ced4da;
        border-radius: .25rem;
        height: 110px;
        padding: 10px;
        margin-bottom: 25px;
        line-height: 15px;
  
        hr {
          margin: 3px;
        }
      }

  
      
  
        input:invalid{
          border-color: $error;
      }    
    }
  }
  
  .overlay-del {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
  
    .popup-del {
      position: absolute;
      width: 400px;
      height: 200px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 15px;
      box-sizing: border-box;
      background-color: white;
      color: $textGreen;
      border: 2px solid $textGreen;
      border-radius: 10px;
      box-shadow: -2px 2px 10px 2px $shadow;
    }
  } 